{{- $components := list "query" "storegateway" "compactor" "bucketweb" "ruler" "receive" -}}
{{- range $component := $components -}}
  {{- $config := index $.Values $component | default dict -}}
  {{- if $config.enabled -}}
---
apiVersion: v1
kind: Service
metadata:
  name: {{ include "thanos.fullname" $ }}-{{ $component }}
  namespace: {{ include "thanos.namespace" $ }}
  labels:
    {{- include "thanos.labels" $ | nindent 4 }}
spec:
  type: ClusterIP
  ports:
    - name: grpc
      port: 10901
      targetPort: grpc
    - name: http
      port: 10902
      targetPort: http
  selector:
    {{- include "thanos.selectorLabels" $ | nindent 4 }}
     component: {{ $component }}
  {{- end }}
{{- end }}
