# thanos/templates/service.yaml
{{- range $component, $config := .Values }}
{{- if $config.enabled }}
---
apiVersion: v1
kind: Service
meta
  name: {{ include "thanos.fullname" $ }}-{{ $component }}
  namespace: {{ include "thanos.namespace" $ }}
  labels:
    {{- include "thanos.labels" $ | nindent 4 }}
spec:
  ports:
    - name: grpc
      port: 10901
      targetPort: grpc
    - name: http
      port: 10902
      targetPort: http
  selector:
    {{- include "thanos.selectorLabels" $ | nindent 4 }}
    component: {{ $component }}
  type: ClusterIP
{{- end }}
{{- end }}
