# deployment.yaml
apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ include "docusaurus-docs.name" . }}
  labels:
    {{- include "docusaurus-docs.labels" . | nindent 4 }}
spec:
  replicas: {{ .Values.replicaCount }}
  selector:
    matchLabels:
      {{- include "docusaurus-docs.selectorLabels" . | nindent 6 }}
  template:
    metadata:
      labels:
        {{- include "docusaurus-docs.selectorLabels" . | nindent 8 }}
    spec:
      containers:
        - name: nginx
          image: "{{ .Values.image.repository }}:{{ .Values.image.tag }}"
          imagePullPolicy: {{ .Values.image.pullPolicy }}
          ports:
            - containerPort: 80
          livenessProbe:
            httpGet:
              path: /
              port: 80
            initialDelaySeconds: 5
          readinessProbe:
            httpGet:
              path: /
              port: 80
            initialDelaySeconds: 2
      imagePullSecrets:
        - name: ghcr-secret
