apiVersion: v1
kind: Service
metadata:
  name: {{ include "docusaurus-docs.fullname" . }}
spec:
  type: {{ .Values.service.type }}
  ports:
    - port: {{ .Values.service.port }}
      targetPort: 80
      protocol: TCP
      name: http
  selector:
    {{- include "docusaurus-docs.selectorLabels" . | nindent 4 }}
