replicaCount: 1

image:
  repository: node
  tag: "18"
  pullPolicy: IfNotPresent

service:
  type: ClusterIP
  port: 3000
  
ingress:
  enabled: false
  className: ""
  host: docs.cloudmasa.local

resources: {}
